.container{
    width: 1000px;
    margin: auto;
}
.header{
    background-color: #104b86;
    padding: 20px;
}
.header .logo h4{
    color: #fff;
    font-size: 29px;
    text-align: center;
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
}
.content{
    background: url(../assets/images/background.png);
    min-height: 100vh;
    min-height: calc(100vh - 85px);
    padding: 30px 0;
}
.sidebar-cover{
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
}
.sidebar-cover ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-cover ul li + li{
    margin-top: 10px;
}
.sidebar-cover ul li a{
    background: rgb(251,250,250);
    background: linear-gradient(to bottom,rgba(251,250,250,1) 0%,rgba(237,236,233,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfafa',endColorstr='#edece9',GradientType=0 );
    border: 1px solid #d7d7d7;
    display: block;
    border-radius: 4px;
    padding: 8px 11px;
    color: #555;
    font-weight: 600;
}
.sidebar-cover ul li a:hover{
    background: #f1f1f1;
}
.sidebar-cover ul li a:focus{
    background: #fff;
}
.sidebar-cover ul li a i{
    width: 16px;
    margin-right: 5px;
}
.card{
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
}